
<p class="heading_1">Edit Store</p>
<div class="container" >
<%=form_for(@store,:url=>store_path) do |f|%>
<%=render(:partial =>'form',:locals=>{:f=>f})%>

<%= f.submit "update Store",class:"btn button", type:"submit", id:"update_btn" %>
<%end%>

<a class="btn btn-primary" href="/stores" role="button">Back</a>
</div>